:root {
    --input-radio-dis: #e9ecef;
    --input-radio-border-no-active: #adb5bd;
    --input-radio-border-hover: #b3d7ff;
    --input-radio-bg: #b3d7ff;
    --input-radio-border-focus: #80bdff;
    --input-radio-border-checked: #0b76ef;
    --input-radio-bg-checked: #0b76ef;
    --input-radoi-box-shadow: rgba(0, 123, 255, 0.25);
}

/* для элемента input c type="radio" */
input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с input[type="radio"] */
  input[type="radio"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента  before со следующими стилями */
  input[type="radio"]+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--input-radio-border-no-active);
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  input[type="radio"]:not(:disabled):not(:checked)+label:hover::before {
    border-color: var(--input-radio-border-hover);
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  input[type="radio"]:not(:disabled):active+label::before {
    background-color: var(--input-radio-bg);
    border-color: var(--input-radio-border-hover);
  }

  /* стили для радиокнопки, находящейся в фокусе */
  input[type="radio"]:focus+label::before {
    box-shadow: 0 0 0 0.2rem var(--input-radio-box-shadow);
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  input[type="radio"]:focus:not(:checked)+label::before {
    border-color: var(--input-radio-border-focus);
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  input[type="radio"]:checked+label::before {
    border-color: var(--input-radio-border-checked);
    background-color: var(--input-radio-bg-checked);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  input[type="radio"]:disabled+label::before {
    background-color: var(--input-radio-dis);
  }