:root {
    --main-bg: #FFFFFF;
    --sidebar-bg: #F1F1F1;
    --tablink-bg: var(--gray-light-4);
    --tablink-hover: var(--gray-light-3);
    --text-color-1: #202124;
    --text-color-2: #5F6368;
    --light-border: #c8c8c88c;
    --yellow: #fffb00;
    --white: #ffffff;
    --black: #000000;
    --link: #0A84FF;
    --title-weight: 300;
    --line-height: 1.8rem;
    --mess-gradient: linear-gradient(90deg, rgba(255, 255, 255, 1) 15%, rgba(253, 251, 29, 1) 50%, rgba(255, 255, 255, 1) 85%);
    --pink-dark: #FF2D55;
    --purpule-dark: #BF5AF2;
    --blue-dark: #0A84FF;
    --green-dark: #32D74B;
    --yellow-dark: #FFD60A;
    --orange-dark: #FF9F0A;
    --red-dark: #FF453A;
    --pink-light: #FF2D55;
    --purpule-light: #AF52DE;
    --blue-light: #007AFF;
    --green-light: #34C759;
    --yellow-light: #FFCC00;
    --orange-light: #FF9500;
    --red-light: #FF3B30;
    --gray-light-1: #8E8E93;
    --gray-light-2: #AEAEB2;
    --gray-light-3: #C7C7CC;
    --gray-light-4: #D1D1D6;
    --gray-light-5: #E5E5EA;
    --gray-light-6: #F2F2F7;
    --gray-dark-1: #8E8E93;
    --gray-dark-2: #636366;
    --gray-dark-3: #48484A;
    --gray-dark-4: #3A3A3C;
    --gray-dark-5: #2C2C2E;
    --gray-dark-6: #1C1C1E;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color-1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--title-weight);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar {
    width: 204px;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 200px;
    z-index: 1;
    background-color: var(--sidebar-bg);
}

.sidebar-content {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar-content-top {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin: 30px 0 25px;
}

.logo span {
    font-size: 20px;
    margin-left: 10px;
    cursor: default;
}

.logo img {
    border-radius: 3px;
}

.sidebar-tabs {
    width: 100%;
}

.sidebar-tabs ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar-tabs li {
    padding: 5px 0;
}

.change-lang {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 19px);
    background: var(--sidebar-bg);
    border: 1px solid var(--light-border);
    border-radius: 8px;
    /*паддінг 2*/
    padding: 8px 7px;
    margin-left: 8px;
    margin-top: 15px;
    font-size: 15px;
    outline: none;
}

.change-lang:hover {
    background-color: var(--white);
}

.change-lang option {
    font-size: 15px;
}

.change-theme {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 19px);
    background: var(--sidebar-bg);
    border: 1px solid var(--light-border);
    border-radius: 8px;
    padding: 8px 7px;
    margin-left: 8px;
    margin-top: 15px;
    font-size: 15px;
    outline: none;
}

.change-theme:hover {
    background-color: var(--white);
}

.change-theme option {
    font-size: 15px;
    padding: 8px auto;
}

.tablink {
    text-decoration: none;
    border-radius: 8px 0px 0px 8px;
    color: var(--text-color-1);
    background: var(--gray-light-4);
    width: calc(100% - 8px);
    padding: 8px 11px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    text-align: left;
}

.tablink-off-style {
    width: calc(100% - 28px);
    justify-content: center;
    background: var(--sidebar-bg);
    /* width: auto;
    border-radius: 8px;
    padding-top: 5px;
    margin: 0; */
}

.tablink:hover {
    background: var(--white);
}

.tablink-off-style:hover {
    background: var(--white)
}

.nav-active-btn {
    background: var(--white);
}

.sidebar-content-bottom {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-content-bottom a {
    text-decoration: none;
    color: var(--text-color-2);
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}

.sidebar-content-bottom p {
    color: var(--text-color-2);
    font-size: 13px;
}

/*   GENERAL   */

.container {
    max-width: 710px;
    /*width: 710px;*/
    padding: 0 15px;
    margin: 0 auto;
}

.message-container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.yellow-bg {
    background: var(--mess-gradient);
}

.message-clear {
    animation: messClear 4000ms 1 ease-in;
}

@keyframes messClear {
    from {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

/* .message-box p{
    
} */

.tablink2 {
    /* border: 1px solid red; */
    display: none;
    margin-left: 204px;
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-title {
    font-size: 26px;
    font-weight: var(--title-weight);
}

.code-size-list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-border);
    padding: 12px 12px 12px 0;
    margin-left: 20px;
    position: relative;
}

.general-option-list label {
    width: 100%;
    font-size: 15px;
    color: var(--text-color-1);
}

.code-size-list label {
    margin-left: 15px;
}

/* радіо кнопки */

.code-size-list input {
    margin: 0;
    outline: none;
}

.code-size-list li:last-child {
    border-bottom: none;
}

.option-list-title {
    font-size: 22px;
    color: var(--text-color-2);
}

/* корекція */

.corection-list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-border);
    padding: 12px 12px 12px 0;
    margin-left: 20px;
    position: relative;
}

.general-option-list label {
    width: 100%;
    font-size: 16px;
    color: var(--text-color-1);
}

.corection-list label {
    margin-left: 15px;
}

/* радіо кнопки */

.corection-list input {
    margin: 0;
    outline: none;
}

.corection-list li:last-child {
    border-bottom: none;
}

.option-list-title {
    font-size: 22px;
    color: var(--text-color-2);
}

/* CLASS ACTIVE */

.active {
    display: block;
}

/**/

/* .code-size-2 label::after {
    content: "За замовчуванням";
    color: var(--text-color-2);
    min-inline-size: fit-content;
    float: right;
}

.corection-level-3 label::after {
    content: "За замовчуванням";
    color: var(--text-color-2);
    min-inline-size: fit-content;
    float: right;
} */

.text-def {
    color: var(--text-color-2);
    position: absolute;
    right: 12px;
}

#privacy, #termofservice {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 120px;
}

.privacy-ul {
    list-style-type: disc;
    padding-left: 30px;
}

.privacy-ul li {
    margin-bottom: 10px;
}

.term-ol li {
    margin-bottom: 10px;
}

/**/

.option-title-info {
    width: 16px;
    height: 16px;
    font-size: 13px;
    border: 1px solid var(--text-color-2);
    border-radius: 50%;
    color: var(--text-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: help;
    position: relative;
}

.option-title-info p {
    position: absolute;
    width: 250px;
    right: 0%;
    top: 100%;
    z-index: 2;
    background: var(--white);
    font-size: 13px;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid var(--text-color-1);
    border-radius: 4px 0 4px 4px;
}

.option-title-info:hover::after {
    content: attr(info);
    position: absolute;
    width: 250px;
    right: 0%;
    top: 100%;
    z-index: 2;
    background: var(--white);
    font-size: 13px;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid var(--text-color-1);
    border-radius: 4px 0 4px 4px;
    white-space: pre-wrap;
}

/**/

.aboutextension-ul-list li {
    margin-left: 20px;
    list-style: initial;
    line-height: var(--line-height);
}

.list-style-dec li {
    list-style: decimal;
}

.text {
    line-height: var(--line-height);
}

/**/

.option-box h3 {
    margin-top: 45px;
}

/* HISTORY */

.cards {
    width: 100%;
    margin-top: 30px;
}

.card {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: var(--sidebar-bg);
    border-radius: 4px;
    margin-bottom: 15px;
}

.card:hover {
    background: var(--light-border);
}

.card-title {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 500;
    padding-top: 0;
    margin-top: 0;
}

.card-link {
    word-wrap: break-word;
    text-decoration: none;
    color: var(--link);
    font-size: 15px;
}

.card-link:hover {
    color: var(--link);
}

.card-date {
    word-wrap: break-word;
    font-size: 15px;
    color: var(--placeholder-color);
    padding-bottom: 0;
    margin-bottom: 0;
}

.search-hist-p {
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn {
    text-decoration: none;
    min-width: 5.14em;
    max-width: 5.14em;
    height: 32px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color-1);
    border: 1px solid var(--light-border);
    background: var(--sidebar-bg);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    outline-width: 0;
}

.search-input {
    padding: 8px 16px;
    color: var(--text-color);
    border: 1px solid var(--tablink-bg);
    background: var(--sidebar-bg);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 5.14em;
    outline-width: 0;
}

.hide {
    display: none !important;
}

/* SCROLL BAR */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.card {
    display: flex;
    justify-content: space-between;
}

.card-info {
    width: 100%;
    margin-right: 20px;
}

.card-info-width {
    width: 67%;
    width: calc(100% - 270px);
}

.card-qr {
    display: none;
    width: 200px;
    height: 200px;
    border: 1px solid var(--gray-dark-1);
    margin: 0 0 0 20px;
}

.active-card-qr {
    display: flex;
    background: #fff;
}

.scrollToTop {
    position: fixed;
    width: 150px;
    height: 100%;
    background: var(--sidebar-bg);
    border: 1px solid var(--tablink-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}

.scrollToTop p {
    font-size: 22px;
    padding-bottom: 3px;
    cursor: pointer;
}

/* SIZE EXAMPLE  */

.size-example-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
}

.size-example {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    background: var(--sidebar-bg);
    box-shadow: 0 0 3px 0px #000;
    padding-bottom: 2px;
}

.size-example__size400 {
    width: 420px;
    height: 550px;
}

.size-example__size300 {
    width: 320px;
    height: 450px;
}

.size-example__size250 {
    width: 270px;
    height: 400px;
}

.size-example__size200 {
    width: 220px;
    height: 350px;
}

.size-example__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.size-example__qrcode {
    background: #32D74B;
    border: 2px solid #fff;
    background-image: url(../icon/FastLinkOptions.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 8px;
}

.size-example__qrcode400 {
    width: 400px;
    height: 400px;
}

.size-example__qrcode300 {
    width: 300px;
    height: 300px;
}

.size-example__qrcode250 {
    width: 250px;
    height: 250px;
}

.size-example__qrcode200 {
    width: 200px;
    height: 200px;
}

.size-example_about__sec {
    margin: 0 8px;
}

.size-example__download__sec {
    margin-bottom: 15px;
}

.size-example__title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.size-example__link {
    font-family: 'Roboto', sans-serif;
    outline: none !important;
    /* background: #48484a; */
    background: var(--btn-hover);
    color: #fff;
    border: 2px solid #8e8e93;
    border: 2px solid var(--light-border);
    width: -webkit-fill-available;
    border-radius: 4px;
    padding: 6px 8px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 3px 0px #48484a;
}

.size-example__a {
    text-decoration: none;
    padding: 8px 16px;
    font-size: 13px;
    color: var(--text-color);
    /* border: 1px solid #8e8e93; */
    border: 1px solid var(--tablink-bg);
    border-radius: 4px;
    cursor: pointer;
    min-width: 5.14em;
    outline-width: 0;
}

.size-example__a:active {
    /* background: #48484a; */
    border: 1px solid var(--tablink-bg);
    box-shadow: 0 1px 2px 0 rgba(var(--grey-800-rgb), .3), 0 3px 6px 2px rgba(var(--grey-800-rgb), .15);
}

.size-example__a:hover {
    /* background-color: #48484a; */
    border: 1px solid var(--tablink-bg);
}

.dispaly-inline-block {
    display: inline-block;
}

/* Corection example */

.ml15 {
    margin-left: 15px;
}

.corection-example {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.corection-example__title {
    text-align: center;
}

.corection-example img {
    width: 150px;
    height: 150px;
    border: 2px solid var(--white);
}

.corection_about__ul {
    margin-left: 20px;
    list-style: disc;
}

/* 1300px */

@media screen and (max-width: 1300px) {
    .scrollToTop {
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--tablink-bg);
        border: 1px solid var(--tablink-hover);
        box-shadow: 0 0 20px 0 var(--tablink-bg);
        bottom: 75px;
        right: 30px;
    }
}

/* 690px */

@media screen and (max-width: 690px) {
    .card {
        display: block;
    }
    .card-info-width {
        width: 100%;
    }
    .card-qr {
        margin: 20px 0 0 0;
    }
}

/* DELETE */

/* .card:hover .card-info {
    width: 90%;
} */

.card:hover .del {
    width: 24px;
    height: 24px;
    background-image: url(../icon/del.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0 0;
}

.card:hover .del:hover {
    background-image: url(../icon/del-hover.png);
}

.line-height {
    line-height: var(--line-height);
}

/*--------------*/

/*  Preloading  */

/*--------------*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: 0s all;
    opacity: 1;
    visibility: visible;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preload-gif {
    width: 383px;
    height: 480px;
    background: #1c1c1c url('https://i.gifer.com/XOsX.gif') no-repeat center center;
}

.preload-text {
    font-size: 40px;
    margin: 0;
}

.preloader-done {
    opacity: 0;
    visibility: hidden;
}

/*-------------------*/

/*  CHECKBOX SLIDER  */

/*-------------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 21px;
}

.switch input {
    display: none;
}

.slider-checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-checkbox:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-checkbox {
    background-color: #2196F3;
}

input:focus+.slider-checkbox {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider-checkbox:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */

.slider-checkbox.round {
    border-radius: 34px;
}

.slider-checkbox.round:before {
    border-radius: 50%;
}

.sounds-switch {
    border: 1px solid var(--tablink-bg);
    border-radius: 8px 0px 0px 8px;
    width: calc(100% - 8px);
    padding: 8px 11px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    text-align: left;
}

.sounds-switch p {
    margin: 0;
    padding: 0 11px 0 0;
}