:root {
    --main-bg: #212529;
    --text-color: #cccccc;
    --blue-btn: rgb(26 115 232); 
    --btn-hover: #343a40;
    --btn-active: #495057;
    --btn-text: #cccccc;
    --link-border: #495057;
    --link-border-shadow: #495057;
    
}


