:root {
    --main-bg: #1c1c1c;
    --sidebar-bg: #2c2c2c;
    --tablink-bg: #3a3a3a;
    --tablink-hover: #48484a;
    --text-color: #ffffff;
    --placeholder-color: #8e8e93;
    --link: #0A84FF;
    --link-hover: #00b0ff;
    --mess-gradient: linear-gradient(90deg, rgba(0,153,255,0.8171296296296297) 0%, rgba(0,255,218,1) 100%);

    --input-radio-dis: #e9ecef;
    --input-radio-border-no-active: #cccccc;
    --input-radio-border-hover: #ffffff;
    --input-radio-bg: #00ff2663;
    --input-radio-border-focus: #80bdff;
    --input-radio-border-checked: #1a7728;
    --input-radio-bg-checked: #32D74B;
    --input-radoi-box-shadow: rgba(50, 215, 75, 0.25);
}

body {
    background: var(--main-bg);
    color: var(--text-color);
}

.logo img {
    background: var(--text-color);
}

.sidebar-content {
    background: var(--sidebar-bg);
    color: var(--text-color);
    overflow: hidden;
}

.tablink {
    background: var(--tablink-bg);;
    color: var(--text-color);
}

.tablink:hover {
    background: var(--tablink-hover);
}

.general-option-list label {
    color: var(--text-color);
}

.change-lang {
    background: var(--main-bg);
    border: 1px solid var(--tablink-bg);
    color: var(--text-color);
}

.change-lang:hover {
    background: var(--tablink-hover);
}

.change-theme {
    background: var(--main-bg);
    border: 1px solid var(--tablink-bg);
    color: var(--text-color);
}

.change-theme:hover {
    background: var(--tablink-hover);
}

.option-title-info {
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.option-title-info:hover::after {
    border-color: var(--tablink-hover);
    background: var(--sidebar-bg);
    color: var(--text-color);
}

.text-def {
    color: var(--placeholder-color);
}

.sidebar-content-bottom a {
    color: var(--placeholder-color);
}

.sidebar-content-bottom p {
    color: var(--placeholder-color);
}

.tablink-off-style {
    background: var(--sidebar-bg);
}

.tablink-off-style:hover {
    background: var(--tablink-bg);
}

.doc-link {
    color: var(--link);
}

.card {
    background: var(--sidebar-bg);
}

.card:hover {
    background: var(--tablink-bg);
}

.card-title {
    color: var(--text-color);
}

.card-link {
    color: var(--link);
}

.card-link:hover {
    color: var(--link-hover);
}

.btn {
    color: var(--text-color);
    border: 1px solid var(--tablink-hover);
    background: var(--tablink-bg);
}


.yellow-bg {
    background: var(--mess-gradient);
}

.nav-active-btn {
    background: var(--main-bg);
}

input:checked+.slider-checkbox {
    background-color: #32d74b;
}